<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>Remove items from a dropdown list</title>
</head>
<body>
    <form>
        <select id="colorSelect">
            <option value="Red">Red</option>
            <option value="Green">Green</option>
            <option value="White">White</option>
            <option value="Black">Black</option>
        </select>
        <input type="button" onclick="removecolor()" value="Select and Remove">
    </form>

    <table id="sampleTable" border="1">
        <tr>
            <td>Row1 cell1</td>
            <td>Row1 cell2</td>
        </tr>
        <tr>
            <td>Row2 cell1</td>
            <td>Row2 cell2</td>
        </tr>
    </table><br>
    <input type="button" onclick="insert_Row()" value="Insert row">

    <script src="~/Scripts/testJavascript.js"></script>
</body>
</html>
